@media (min-width: 768px) and (max-width: 1439px){
     .sb-grid {
          grid-template-columns: repeat(2, 1fr);
          }
   }
   @media (min-width: 1440px){
     .sb-grid {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 1rem;
         }
   }