// from sb-styles
@use "~@project-sunbird/sb-styles/assets/varIndex" as *;
@use "~@project-sunbird/sb-styles/assets/mixins/mixins" as *;

// from portal
@use "./vendors/vendors" as *;
@use "./components/components" as *;
@use "./layout/layout" as *;
@use "./legacy" as *;
@use "./global" as *;
@use "./pages/sbt-dropdown" as *;

// from semantic
@use "./semantic/semantic-overrides" as *;
@use "./semantic/semantic-rtl" as *;

// @import '~@swimlane/ngx-datatable/src/themes/material';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import url( 'https://fonts.googleapis.com/css?family=Material+Icons');

.modal-webview {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.854);
}

@mixin contentScroll{
    max-height: calc(100vh - 0px);
    overflow-y: auto;
    overflow-x: hidden;
}

.content-scroll {
    @include contentScroll();
}

.sbt-page-content-area {
    &.relative9 {
        &.home-container {
            overflow-x: inherit;
            overflow-y: inherit;
            max-height: 100%;
        }
    }
}

body .uwy.userway_p1 .userway_buttons_wrapper {
    top: 81px !important;
    left: calc(100vw - 25px) !important;
}

app-search-filter .sb-mat__dropdown.mat-form-field-appearance-fill.mat-form-field-should-float .mat-form-field-flex,sb-search-facet-filter .sb-mat__dropdown.mat-form-field-appearance-fill.mat-form-field-should-float .mat-form-field-flex{
    align-items: center !important;
}
app-search-filter .sb-mat__dropdown.mat-form-field-appearance-fill .mat-select-arrow-wrapper,sb-search-facet-filter .sb-mat__dropdown.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: none !important;
}
app-search-filter .sb-mat__dropdown.mat-form-field-appearance-fill .mat-select-arrow,sb-search-facet-filter .sb-mat__dropdown.mat-form-field-appearance-fill .mat-select-arrow{
    transform: none !important;
}
app-search-filter .sb-mat__dropdown.mat-form-field-appearance-fill.mat-form-field-should-float .mat-select, sb-search-facet-filter .sb-mat__dropdown.mat-form-field-appearance-fill.mat-form-field-should-float .mat-select{
    margin-top: 0px !important;
}