<div [ngClass]="layoutConfiguration ? 'sbt-fluid-content-bg':''">
  <div [ngClass]="layoutConfiguration ? 'sb-g sbt-container sbt-page-content' : 'sb-g'">
    <div [ngClass]="FIRST_PANEL_LAYOUT">
      <div *ngIf="layoutConfiguration">
        <ng-container *ngIf="isDesktopApp">
          <app-network-status></app-network-status>
          <app-load-offline-content></app-load-offline-content>
          <app-system-warning></app-system-warning>
        </ng-container>
      </div>
      <div [ngClass]="isDesktopApp ? 'sb-desktop-filter-section' : ''" class="h-100">
        <div class="filters-area h-100">
          <div class="default-img">
            <h6><img src="../../../../../../assets/images/diksha-logo.svg"
                alt="">{{resourceService?.frmelmnts?.lbl?.chatWithBooks}}</h6>
          </div>
          <ng-container *ngIf="searchQueryList.length>0">
            <div class="search-history">
              <ng-container *ngFor="let search of searchQueryList;">
                <h6>{{getKeys(search)}}</h6>
                <ul>
                  <li *ngFor="let query of search[getKeys(search)]">
                    <a (click)="moveToQuery(query?.id,query?.searchQuery)"
                      href="javascript:void(0);">{{query?.searchQuery}}</a>
                  </li>
                </ul>
              </ng-container>
            </div>
          </ng-container>


        </div>
      </div>
    </div>
    <div [ngClass]="SECOND_PANEL_LAYOUT" class="w-100">
      <div [ngClass]="layoutConfiguration ? 'sbt-page-content-area' : 'ui container mt-24'">
        <div class="content-grid relative9 w-100">
          <div #chatData id="chat-data" [appTelemetryImpression]="telemetryImpression"
            class="twelve wide column content-scroll h-100" in-view-container>
            <ng-container *ngIf="apiData.length <= 0">
              <div class="default-content">
                <h2><img src="../../../../../../assets/images/diksha-logo.svg" alt=""></h2>
                <div class="four-sections">
                  <div class="section-one">
                    <p><i class="far fa-book-reader"></i></p>
                    <p>{{resourceService?.frmelmnts?.lbl?.chatWithBookText1}}</p>
                  </div>
                  <div class="section-two">
                    <p><i class="far fa-language"></i></p>
                    <p>{{resourceService?.frmelmnts?.lbl?.chatWithBookText2}}</p>
                  </div>
                  <div class="section-three">
                    <p><i class="far fa-user-graduate"></i></p>
                    <p>{{resourceService?.frmelmnts?.lbl?.chatWithBookText3}}</p>
                  </div>
                  <div class="section-four">
                    <p><i class="far fa-desktop"></i></p>
                    <p>{{resourceService?.frmelmnts?.lbl?.chatWithBookText4}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="chatgpt-box w-100" *ngIf="apiData.length>0">
              <!-- Chats container -->
              <div class="h-100">
                <ng-container *ngFor="let data of apiData;">
                  <div class="ai-question" *ngIf="data?.question">
                    <div class="ai-question-img"><img alt="logo image"
                        src="../../../../../../assets/images/profile-icon.svg">
                    </div>
                    <div class="ai-question-text" id="{{data?.id}}">{{data?.question}}</div>
                  </div>
                  <div class="ai-answer" *ngIf="data?.answer">
                    <div class="ai-answer-section">
                      <div class="ai-answer-img"><img alt="logo image" src="../../../../../../assets/images/logo.png">
                      </div>
                      <div class="ai-answer-text">{{data?.answer}}</div>
                    </div>
                    <ng-container>
                      <div class="ai-data-accordion">
                        <mat-accordion>
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title class="sb-mat-accordion__title">
                                References
                              </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="mat-expansion-panel-content" role="reference"
                              aria-labelledby="mat-expansion-panel-header-4">
                              <div class="mat-expansion-panel-body">
                                <div class="sb-mat-accordion__content"
                                  *ngFor="let reference of data?.reference; let i = index">
                                  <h5>Reference {{i+1}}</h5>
                                  <ul>
                                    <li>
                                      <span>{{resourceService?.frmelmnts?.lbl?.class}}:</span>{{reference?.metadata?.class}}
                                    </li>
                                    <li>
                                      <span>{{resourceService?.frmelmnts?.lbl?.bookName}}:</span>{{reference?.metadata?.book_name}}
                                    </li>
                                    <li>
                                      <span>{{resourceService?.frmelmnts?.lbl?.chapterName}}:</span>{{reference?.metadata?.chapter_name}}
                                    </li>
                                    <li>
                                      <span>{{resourceService?.frmelmnts?.lbl?.pageNumber}}:</span>{{reference?.metadata?.page}}
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
                <p *ngIf="showLoadingMsg" class="loading">Please wait, crafting response. It might take some time <img
                    width="9%" src="../../../../../../assets/images/parallel-loader.gif" /></p>
              </div>
              <!-- Typing container -->
            </div>
          </div>
        </div>
        <div class="typing-container" [class.content-data]="apiData.length>0">
          <div class="typing-content">
            <div class="typing-textarea">
              <textarea id="chat-input" spellcheck="false" placeholder="{{resourceService?.frmelmnts?.lbl?.promptText}}"
                required [(ngModel)]="searchQuery" (keyup.enter)="saveBooksQuery()"></textarea>
              <span (click)="saveBooksQuery()" id="send-btn" class="material-symbols-rounded"><i
                  class="fa fa-arrow-right"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>